* {
  margin: 0;
  padding: 0;
}

li {
  vertical-align: middle;
}

#mainText {
  font-size: 20px;
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}
      /* modify the scrollbars
          ::-webkit-scrollbar {
            width: 2px;
          }
          ::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          ::-webkit-scrollbar-thumb {
            background: #888;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
      */
/* TOOL BAR CSS */
#AnnotatedNewsToolbarWrapper {
  width: 100%;
  bottom: 10%;
  left: 0;
  position: fixed;
  text-align: center;
}
#AnnotatedNewsToolbar {
  border-radius: 50px;
  text-align: center;
  border: 0px solid black;
  padding: 2px;
}
    .AnnotatedNewsToolbox {
      height: 50px;
      display: inline-block;
      border-radius: 10px;
      border: 1px solid black;
      vertical-align: middle;
      list-style-type: none;
      padding: 5px;
    }

    #AnnotatedNewsGearbox {
      font-size: 30px;
      background-color: white;
      width: 50px;
    }

    #AnnotatedNewsTitle {
      font-size: 12px;
      color: black;
      text-align: center;
      background-color: white;
    }

    #AnnotatedNewsPreview {
      background-color: purple;
      width: 200px;
    }
    #AnnotatedNewsPreview:hover {
      cursor: pointer;
    }

    #AnnotatedNewsArrows {
      font-size: 20px;
      width: 100px;
      background-color: white;
    }
    #AnnotatedNewsArrowHolder {
      vertical-align: top;
      list-style-type: none;
    }
    .AnnotatedNewsArrow {
      background-color: white;
      border-radius: 20px;
      border: 0px solid black;
      height: 25px;
      width: 100px;
    }
    .AnnotatedNewsArrow:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
/* END TOOL BAR CSS */


/* ANNOTATED NEWS PANEL CSS */
#AnnotatedNewsPanel {
  width: 60%;
  height: 50%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  left: 15%;
  top: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

/* END ANNOTATED NEWS PANEL CSS */

/* GENERIC BOX CLASSES */
.AnnotatedNewsBarBox {
  display: inline-block;
  height: 50px;
  border: 2px solid black;
  margin-top: -1px;
  margin-left: -1px;
}

.metaText {
  text-align: left;
  font-size: 12px;
  color: black;
}

.mainText {
  font-weight: bold;
  font-size: 13px;
}
/* GENERIC BOX CLASSES */

/*-------------------ARTICLE INFO BOX----------------------*/
#srcLogo {
  height: 30px;
  position: fixed;
  border: 2px solid black;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 0%;
  display: inline-block;
}

#articleInfo {
  background-color: white;
  overflow: scroll;
}

#articleInfoWrapper {
  display: inline-block;
  margin: 5px;
  margin-left: 50px;

}
/*^^^^^^^^^^^^^^^^^^^ARTICLE INFO BOX^^^^^^^^^^^^^^^^^^^^^^^*/








/*-------------------ANNOTATION PREVIEW BOX----------------------*/

.CONTEXTborder {
  border: 1px solid green;
}

.CONTEXTbackground {
  background-color: green;
}

.BLACKbackground {
  background-color: black;
}

#currentAnnotation {
  background-color: white;
}

.tagWrapper {
  display: inline-block;
  overflow-x: scroll;
}

.tags {
  margin-left: 3px;
  display: inline-block;
  padding: 3px;
  font-size: 10px;
  color: white;
}

.textPreview {
  font-size: 20px;
  color: black;
}
/*^^^^^^^^^^^^^^^^^^^ANNOTATION PREVIEW BOX^^^^^^^^^^^^^^^^^^^^^^^*/


#AnnotatedNewsContextPanel {
  background: #333;
  color: white;
  font-size: 13px;
  padding: 5px;
  width: 250px;
  display: none;
}

#title {
  width: 100%;
  height: 10%;
  font-size: 20px;
  border-bottom: 2px solid white;
  text-align: left;
  padding: 0;
}

#line {
  background-color: blue;
  height: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#text {
  text-align: left;
  color: white;
  padding: 5px;
}

/*
#AnnotatedNewsContextPanel[data-show] {
  display: block;
}
*/

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#AnnotatedNewsContextPanel[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#AnnotatedNewsContextPanel[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#AnnotatedNewsContextPanel[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#AnnotatedNewsContextPanel[data-popper-placement^='right']>#arrow {
  left: -4px;
