/*This should contain CSS edits I wnat to apply to the entire page... must be careful that selectors don't overlap
  with elements that the page could reasonably already have.*/

.an-span-wrapper {
  background-color: yellow;
}

#annotatednews-root {
  width: 100%;
  bottom: 0%;
  left: 0;
  position: fixed;
  text-align: center;
}
