/*This should contain CSS edits I wnat to apply to the entire page... must be careful that selectors don't overlap
  with elements that the page could reasonably already have.*/

#annotatednews {
  /* do nothing */
}

#annotatednews-root {
  /* height and top/bottom should be handled by active.js */
  width: 100% !important;
  border-top: 2px solid red;
  position: fixed !important;
  text-align: center !important;
  overflow: hidden;
  z-index: 99999999;
}

.an-span-wrapper {
  z-index: 9999999;
  border-bottom: 2px solid yellow;
  /* background-color: yellow; */
}
.an-span-wrapper:hover {
  background: yellow;
  /* color: white; */
  cursor: pointer;
}

.an-current-span {
  /* font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2); */
  background: #ffff99;
  /* background: red;
  color: white; */
  cursor: pointer;
}

.ghost-text {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-style: italic;
  font-size: 15px;
  background-color: white;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  position: absolute;
  top;
  left: 0;
  z-index: 10000000;
}
.ghost-text:hover {
  cursor: pointer;
}


/* CSS Styling for each of the popup elements */
an-popup {
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  width: 300px;
  max-height: 50%;
  display: none;
  z-index: 10001;
  position: absolute;
  cursor: pointer;
  white-space: normal;
  overflow-y: auto;
  text-align: center !important;
}
an-popup::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  border-radius: 2px;
}
an-popup::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #ff9999;
  border-radius: 2px;
}

.idPill {
  position: absolute;
  top: -10px;
  border-radius: 2px;
  font-size: 8px;
  color: white;
  background-color: red;
  height: 10px;
  padding: 1px;
  margin: 1px;
}

.popup-title {
  font-size: 20px !important;
  margin: 0 !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  text-align: center !important;
  padding: 0 !important;
  color: white !important;
  border-bottom: 1px solid white !important;
}

.popup-body {
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  margin: 0 !important;
  font-size: 15px !important;
  color: white !important;
  padding: 5px !important;
}

.popup-content {
  border: 2px solid white !important;
  margin: 5px !important;
  padding-bottom: 10px !important;
  padding: 2px !important;
  border-radius: 5px !important;
}

.popup-description {
  text-align: center !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  font-size: 15px !important;
  color: white !important;
  padding: 5px !important;
}

.popup-button {
  text-align: center !important;
  color: red !important;
  background-color: white !important;
  border-radius: 5px !important;
  padding: 10px;
}

.popup-link {
  text-align: center !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  font-size: 15px !important;
  color: red !important;
}

.popup-source-link {
  color: white;
}

.popup-quote {
  text-align: center !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  font-size: 15px !important;
  color: white !important;
  padding: 5px !important;
}
.pill {
  border-radius: 5px !important;
  font-size: 12px !important;
  color: red !important;
  background-color: white !important;
  height: 15px !important;
  padding: 2px !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  /* display: inline-block; inline-block would allow (if used) the div to stretch its width to the width of the content...makes it centered and full though...not ideal */
}

an-popup[data-show] {
  display: block;
}

.popup-arrow,
.popup-arrow::before {
  position: absolute;
  width: 20px;
  height: 20px;
}

.popup-arrow {
  visibility: hidden;
  background-color: red;
}

.popup-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

an-popup[data-popper-placement^='top']>.popup-arrow {
  bottom: -4px;
}

an-popup[data-popper-placement^='bottom']>.popup-arrow {
  top: -4px;
}

an-popup[data-popper-placement^='left']>.popup-arrow {
  right: -4px;
}

an-popup[data-popper-placement^='right']>.popup-arrow {
  left: -4px;
}
