#panel {
  width: 60%;
  height: 50%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  left: 20%;
  bottom: -55%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid black;
}
