#AnnotatedNewsPanel {
  width: 60%;
  height: 10%;
  background-color: rgba(255,255,255, 0.8);
  background-color: rgba(0,0,0, 0.8);
  border-right: 0px solid black;
  z-index: 1000;
  position: fixed;
  left: 20%;
  bottom: 10%;
  text-align: center;
  border-radius: 10px;
}

.AnnotatedNewsSPAN {
  background-color: rgba(255,255,0,0.2);
}

#AnnotatedNewsLogoBar {
  position: relative;
  text-align: left;
  padding 2px;
  color: white;
  z-index: 1001;
  font-size: 1em;
  padding: 5px;
  border-bottom: 2px solid white;
  font-family: 'Arial', cursive;
}

#panelLogo {
  height 100px;
}

#AnnotatedNewsCurrentDisplay {
  font-size: 10px;
  color: white;
}

.AnnotatedNewsCurrentSPAN {
  background-color: yellow;
}

#AnnotatedNewsForm {
  display: none;
}

#AnnotatedNewsViewAddForm {

}
