* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
      /* modify the scrollbars
          ::-webkit-scrollbar {
            width: 2px;
          }
          ::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          ::-webkit-scrollbar-thumb {
            background: #888;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
      */
/* TOOL BAR CSS */
#AnnotatedNewsToolbarWrapper {
  width: 100%;
  bottom: 0%;
  left: 0;
  position: fixed;
  text-align: center;
}
#AnnotatedNewsToolbar {
  text-align: center;
  border-top: 3px solid black;
  background-color: rgba(255,255,255,0.8);
  padding: 2px;
}
    .AnnotatedNewsToolbox {
      height: 50px;
      display: inline-block;
      border-radius: 10px;
      border: 1px solid black;
      vertical-align: middle;
      list-style-type: none;
      padding: 5px;
      margin: 3px;
    }

    #AnnotatedNewsGearbox {
      font-size: 30px;
      background-color: white;
      width: 50px;
    }

    #AnnotatedNewsTitle {
      font-size: 12px;
      color: black;
      text-align: center;
      background-color: white;
    }

    #AnnotatedNewsPreview {
      background-color: purple;
      width: 200px;
    }
    #AnnotatedNewsPreview:hover {
      cursor: pointer;
    }

    #AnnotatedNewsArrows {
      font-size: 20px;
      width: 100px;
      background-color: white;
    }
    #AnnotatedNewsArrowHolder {
      vertical-align: top;
      list-style-type: none;
    }
    .AnnotatedNewsArrow {
      background-color: white;
      border-radius: 20px;
      border: 0px solid black;
      height: 25px;
      width: 100px;
    }
    .AnnotatedNewsArrow:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
/* END TOOL BAR CSS */


/* ANNOTATED NEWS PANEL CSS */
#AnnotatedNewsPanel {
  width: 60%;
  height: 50%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  left: 20%;
  bottom: -55%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid black;
}

/* END ANNOTATED NEWS PANEL CSS */
