* {
    margin: 0;
    border: 0px solid red;
    text-align: center;
    padding: 5px;
    position: inline-block;
}

body {
  width: 300px;
}

@font-face {
    font-family: "Cheltenham";
    src: url("src/Cheltenham.otf") format("opentype");
}

#header {
    position: relative;
    display: inline;
    width: 100%;
    height: 92px;
    background-color: white;
    border-bottom: 0px solid black;
    z-index: 99;
}

#logoBar {
    position: relative;
    text-align: center;
    color: black;
    z-index: 20;
    font-family: 'Shadows Into Light', cursive;
}

#logo {
    position: relative;
    z-index: 21;
    height: 70px;
}

.panel {

}

#userBox {
  border: 1px solid black;
  border-radius: 5px;
}

#responsePanel {
  display: None;
}

#syncPanel {
  display: None;
}

#mainPanel {
  display: None;
}

#checkmark {
  display: None;
}

#redx {
  display: None;
}

#removeAnnotations {
  display: none;
}

#loadAnnotations {
  display: none;
}
